# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Debug/vc143.pdb
/x64/Debug/vc143.idb
/x64/Debug/FriendsGraph.tlog/link.write.1.tlog
/x64/Debug/FriendsGraph.tlog/link.read.1.tlog
/x64/Debug/FriendsGraph.tlog/link.command.1.tlog
/x64/Debug/FriendsGraph.tlog/FriendsGraph.lastbuildstate
/x64/Debug/FriendsGraph.tlog/CL.write.1.tlog
/x64/Debug/FriendsGraph.tlog/CL.read.1.tlog
/x64/Debug/FriendsGraph.tlog/CL.command.1.tlog
/x64/Debug/FriendsGraph.tlog
/x64/Debug/FriendsGraph.log
/x64/Debug/FriendsGraph.ilk
/x64/Debug/FriendsGraph.exe.recipe
/x64/Debug
/FriendsGraph.vcxproj.user
/FriendsGraph.vcxproj.filters
/FriendsGraph.vcxproj
